In [63]:
!pip install sklearn
!pip install plotly

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: sklearn in /usr/local/lib/python3.9/site-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.9/site-packages (from sklearn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.8.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.22.3)
WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: plotly in /usr/local/lib/python3.9/site-packages (5.7.0)
Requirement already satisfied: six in /usr/local/lib/python3.9/site-packages (from plotly) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.9/site-packages (from plotly) (8.0.1)
WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.

In [64]:
#import required libraries
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import sklearn
from sklearn.ensemble import IsolationForest  
import plotly.express as px

In [65]:
#load data
df = pd.read_csv("microai2.csv")
df.head(5)

   Width  Height
0     25      24
1     25      25
2     25      25
3     21      24
4     24      24

In [73]:
#training my model
mymodel = IsolationForest(n_estimators=50, max_samples='auto', contamination=float(0.1),max_features=1)
x = df[["Height"]]
mymodel.fit(x.values)

IsolationForest(contamination=0.1, max_features=1, n_estimators=50)

In [72]:
#findind outliers
#x = df[["Height"]]
df['scores']=mymodel.decision_function(df[["Height"]])
df['anomaly']=mymodel.predict(df[["Height"]])
df.head(30)

    Width  Height    scores  anomaly
0      25      24  0.132945        1
1      25      25  0.235652        1
2      25      25  0.235652        1
3      21      24  0.132945        1
4      24      24  0.132945        1
5      30      29  0.147563        1
6      25      25  0.235652        1
7      25      25  0.235652        1
8      27      29  0.147563        1
9      25      29  0.147563        1
10     24      29  0.147563        1
11     24      25  0.235652        1
12     27      25  0.235652        1
13     24      27 -0.043629       -1
14     24      25  0.235652        1
15     25      24  0.132945        1
16     24      25  0.235652        1
17     25      30  0.000000        1
18     29      29  0.147563        1
19     27      30  0.000000        1
20     27      24  0.132945        1
21     29      25  0.235652        1
22     27      25  0.235652        1
23     25      25  0.235652        1
24     23      29  0.147563        1
25     30      22 -0.145761       -1

In [61]:
#outlier/anomaly list
anomaly=df.loc[df['anomaly']==-1]
anomaly_index=list(anomaly.index)
print(anomaly)

    Width  Height    scores  anomaly
13     24      27 -0.024533       -1
25     30      22 -0.115011       -1